<?xml version='1.0'?>
<model xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.humanbrainproject.eu/SP10/2017/model_config" xsi:schemaLocation="http://schemas.humanbrainproject.eu/SP10/2017/model_config ../model_configuration.xsd">
  <name>HBP FZI LauronV</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>
  <thumbnail>thumbnail.png</thumbnail>
  <author>
    <name>Lars Pfotzer</name>
    <email>pfotzer@fzi.de</email>
  </author>

  <description>
    Six-legged walking robot LauronV - Extended HBP Model - FZI Forschungszentrum Informatik
  </description>
</model>
